<%- include('../partial/header') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h2 class="text-center">Employee Login</h2>
                </div>
                <div class="card-body">
                    <form action="/employee/login" method="POST">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                    
                    <div class="text-center mt-3">
                        <p>Don't have an account? <a href="/auth/register">Register here</a></p>
                        <a href="/" class="btn btn-link">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partial/footer') %>